body, html {
    background: rgb(243, 243, 243);
    overflow: hidden;
}
.footer {
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    background: lightblue;
}
.header {
    width: 100%;
    height: 50px;
    background: lightblue;
}
.links {
    width: 10%;
    background: lightgray;
}
.mainApp {
    display: flex;
    height: 100vh;
}
.routes {
    border: 1px solid black;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 70px;
}