body, html {
    background: rgb(243, 243, 243);
}
.footer {
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    background: lightblue;
}
.header {
    width: 100%;
    height: 50px;
    background: lightblue;
}